.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.leftContainer {
  position: relative;
  width: 40%;
  height: 100%;
}

.logoContainer {
  position: absolute;
  background-color: #fff;
  padding: 25px 0px 5px 30px;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
  background-color: #2a6877;
  color: white;
}

.form form {
  display: grid;
}

.form input {
  margin-bottom: 16px;
  width: 400px;
  height: 50px;
  font-size: 18px;
  padding-left: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border-color: transparent;
}

.form button {
  width: 400px;
  height: 50px;
  font-size: 24px;
  color: white;
  background: #50ac97;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border-color: transparent;
}
